@import './font.css';


.header {
    margin-bottom: 5px;
    text-align: center;
}

.header-font-bold {
    font-family: "Lato-Black";
}

.logo {
    width: 70px;
    height: 70px;
}

.card {
    margin: 5px;
    background-image: linear-gradient(to bottom, #ffece7 0%, #fff5ff 50%);
}

.card-title-container {
    display: flex;
}

.card-title-text {
    padding: 10px 0px 0px 10px;
}

.image-container {
    padding-top: 10px;
    height: 50%;
    display: flex;
}

.item-image {
    width: 100%;
    border-radius: 120px;
    background-color: white;
    overflow: hidden;

}

.card-body {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.card-body > div {
    flex: 50%;
}

.font {
    font-family: Lato-Black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.card:hover {
    transform: scale(0.97);
    transition: all 0.3s;
}

.calories {
    color: rgba(252,161,71,1);
}

.totalfat {
    color: rgba(66,193,110,1);
}

.saturatedfat {
    color: rgba(149,149,255,1);
}

.cholesterol {
    color: rgba(220,91,183,1);
}
