.header {
    margin-bottom: 5px;
    text-align: center;
}

.logo {
    width: 70px;
    height: 70px;
}

.card {
    margin: 5px;
    padding: 1px; 
}

.card-title-container {
    
    vertical-align: center;
}

.card-title {
    overflow-wrap: break-word;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
}

.card-body > div {
    flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
}

.font {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.card:hover {
    transform: scale(0.95);
    transition: all 0.3s;
}

.calories {
    color: rgba(252,161,71,1);
}

.totalfat {
    color: rgba(66,193,110,1);
}

.saturatedfat {
    color: rgba(149,149,255,1);
}

.cholesterol {
    color: rgba(220,91,183,1);
}
