/* File: font.css */
@font-face {
    font-family: 'Lato-Black';
    src: local('Lato-Black'),
         url('./fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    src: local('Lato-Regular'),
         url('./fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Righteous-Regular';
    src: local('Righteous-Regular'),
         url('./fonts/Righteous-Regular.ttf') format('truetype');
}